<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<link rel='stylesheet' href='/css/style.css' />

  </head>
  <body>
    <table style="width:500px">
      <tr>
        <th>Bar</th>
        <th>Beat</th>
        <th>BPM</th>
      </tr>
      <tr>
        <td id="value_1">0</td>
        <td id="value_2">0</td>
        <td id="value_3">0</td>
      </tr>
    </table>
    <div id="ball"><span></span></div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
    <script src="/js/danSockets.js"></script>
  </body>
</html>
